<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    {% for message in get_flashed_messages() %}
    <p class="alert">{{ message }}</p>
    {% endfor %}
    <h1>currency converter</h1>

    <form action="/convert">
        <div class="currency1">
            <input type="text" name="currency1" id="">
            <label for="">currency 1</label>
        </div>
        <div class="currency2">
            <input type="text" name="currency2" id="">
            <label for="">currency 2</label>
        </div>
        <div class="amount">
            <input type="text" name="amount" id="">
            <label for="">amount</label>
        </div>
        <button type="submit">Submit</button>
    </form>
    
</body>
</html>